.container {
    border: 1px solid #0099cc;
    border-radius: 12px;
}

.titre {
    text-align: center;
    margin-top: 2.5%;
    font-family: monospace;
}

.map {
    height: 300px;
    margin-top: 3%;
    margin-bottom: 1%;
}


img#photomonument {
    max-width: 100%;
    height: 500px;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}