div.fiche {
    margin: auto;
    width: 80%;
    text-align: center;
}
h1 {
    color: #0099cc;
}
h1 span:nth-child(1) {
    font-style: italic;
    font-size: 11px;
}

.map {
    height: 300px;
}

#formregions {
    margin: auto;
    width: 50%;
}

.navbar-inverse {
    background-color: #0099CC !important;
    border-color: white !important;
}

.submitformregions {
    width: 100%;
    background-color: #0099CC !important;
    color: white !important;
}

.submitformzone {
    width: 100%;
    background-color: #0099CC !important;
    color: white !important;
}

select { text-align-last:center; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #555555 !important;
    background-color: #ffffff !important;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #ffffff !important;
}

.pagination {
    display: block;
    margin: auto;
}

.pagination>li>a, .pagination>li>span {
    color: #a9a9a9;
}

.loadermaison {
    border: 16px solid #0099cc;
    /*border-radius: 50%;
    border-top: 16px;
    border-bottom: 16px;*/
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert-info {
    color: #fff;
    background-color: #a9a9a9;
    border: none;
    text-align: center;
}

.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 5px 10px;
    font-size: 13px;
}